<div class="card rounded mx-auto d-block mt-5" style="width: 15rem;">
    <img class="card-img-top" src="{{personaje.image}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><strong>Name:</strong> {{personaje.name}}</h5>
        <h5 class="card-title"><strong>Status:</strong> {{personaje.status}}</h5>
        <h5 class="card-title"><strong>Species:</strong> {{personaje.species}}</h5>
        <h5 class="card-title"><strong>Gender:</strong> {{personaje.gender}}</h5>
        <a href="app-characters" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Search more</a>
    </div>   
    
</div>
